@import url(./vendor/normalize.css);

/* #393838
  preto
  -
  #f491b4
  rosa
  escuro
  -
  #f6956d
  laranja
  -
  #faefe6
  branco
  -
  #e6cfb8
  marrom
  -
  #fface2
  rosinha */

.page {
  color: #393838;
  font-family: "Comfortaa", sans-serif;
}

.wpp__button {
  width: 50px;
  height: 50px;
  z-index: 3;
  border-radius: 100%;
  position: fixed;
  bottom: 40px;
  right: 40px;
}

.wpp__img {
  height: 100%;
  width: 100%;
  border-radius: 100%;
}

.header {
  position: relative;
  display: flex;
  height: 700px;
  background-image: linear-gradient(to top, #f491b4, #faefe6);
}

.header__image {
  height: 100%;
  width: 80%;
}
.header__container {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 20%;
  text-align: center;
}

.header__title {
  margin: 0;
  padding: 0;
}

.header__content {
  font-family: "Quicksand", sans-serif;
  margin-top: 15%;
  padding: 0;
}

.header__talk_button {
  background-color: #faefe6;
  border-radius: 8px;
  padding: 12px 25px;
  display: inline-block;
  margin-top: 10%;
  text-decoration: none;
  color: #393838;
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.5s ease,
    border-color 0.5s ease;
}

.header__talk_button:hover {
  opacity: 0.6;
  text-decoration: none;
  transform: translateY(-10px);
}

.division {
  height: 3px;
  background: linear-gradient(to right, #393838, #f6956d, #393838);
}

h4 {
  margin: 0;
}

.cards {
  text-align: center;
  background-image: linear-gradient(to right, #faefe6 10%, #e6cfb8 89%);
}

.cards__title {
  margin: 0;
  padding-top: 40px;
  font-weight: bold;
}

.cards__subtitle {
  font-family: "Quicksand", sans-serif;
  margin-bottom: 30px;
}
.cards__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 70%;
  margin: auto;
  padding-bottom: 50px;
}

.card {
  background-color: #e6cfb8;
  height: 400px;
  width: 270px;
  margin: auto;
  border-radius: 15px;
  border: 2px solid #faefe6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4px;
  box-sizing: border-box;
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.5s ease,
    border-color 0.5s ease;
}

.card:hover {
  transform: translateY(-20px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  border-color: rgba(246, 149, 109, 1);
}
.card__image {
  width: 100%;
  height: 50%;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
}

.card p {
  font-family: "Quicksand", sans-serif;
}

.service {
  align-self: flex-end;
  color: #393838;
  text-align: center;
  font-family: arial;
  font-weight: 100;
  font-size: 12px;
  width: 90%;
  background: linear-gradient(180deg, #ffd6e0 0%, #f37ba3 100%);
  text-decoration: none;
  padding: 6px 0;
  border-radius: 20px;
  margin: 0 auto 5px;
  transform: scale(1);
  transition: transform 0.3s ease;
}

.service:hover {
  transform: scale(1.1);
}

.why {
  height: 500px;
  background: linear-gradient(135deg, #faefe6, #f9d5e6);
  display: flex;
  padding: auto;
  justify-content: space-evenly;
}

.why__image {
  width: 300px;
  height: 300px;
  margin: 100px 5vh 0;
  border-radius: 10px;
  box-shadow: 10px 10px 10px pink;
  border-radius: 100%;
}

.why__title {
  font-size: 40px;
  margin: 50px 0 0;
}

.why__container {
  margin-left: 30px;
}

.why__grid {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  column-gap: 8px;
  grid-template-areas:
    "img title "
    "img content ";
  align-items: start;
  height: 100px;
}

.why__grid__title {
  grid-area: title;
  margin-top: 5%;
  margin-bottom: 0;
}

.why__grid__img {
  grid-area: img;
  width: 30px;
  height: 30px;
  margin: auto;
  background: linear-gradient(to top right, #f6956d, #f491b4);
  border-radius: 10px;
  padding: 5px;
  box-shadow: 10px 10px 10px pink;
}

.why__grid__content {
  grid-area: content;
  font-family: "Quicksand", sans-serif;
  margin: 0;
}

.last__why__div {
  margin: 10px;
  background-color: #faefe6;
  border-radius: 10px;
  padding: 10px;
  border: 3px solid #f6956d;
  box-shadow: 10px 10px 10px pink;
}

.last__why__div h5 {
  margin: 5px 0 5px;
  font-size: 15px;
}
.last__why__div p {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  color: #444;
}

.why__container p {
  font-weight: 400;
  color: #444;
}

.footer {
  background-color: black;
  height: 150px;
}

.footer__logo {
  height: 140px;
  margin-left: 15%;
  margin-top: 10px;
  position: absolute;
  left: 10px;
  overflow: hidden;
}

.footer__content {
  text-align: center;
  margin: 0;
  color: white;
  font-size: 10px;
  background-color: black;
}

.footer_img {
  height: 30px;
  margin: 0;
  position: relative;
  z-index: 2;
}

.footer_img:hover {
  opacity: 30%;
}

.div1 {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 100%;
}

.div2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 30%;
  height: 100%;
}

@media (max-width: 1150px) {
  .header {
    height: 500px;
  }

  .header__image {
    position: absolute;
    width: 100%;
  }
  .header__container {
    position: relative;
    margin: 0 auto;
    left: 0;
    padding-left: 200px;
  }

  .cards__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .why {
    height: 530px;
  }
}

@media (max-width: 980px) {
  .why__image {
    display: none;
  }
}

@media (max-width: 750px) {
  .header {
    height: 500px;
    overflow: hidden;
  }

  .header__container {
    width: 100%;
    position: relative;
    margin: 70px 0;
    display: inline-block;
    padding: 0;
    z-index: 2;
  }
  .header__image {
    width: 150%;
    height: 90%;
  }
  .header__content {
    margin-top: 20px;
    padding: 0 5px;
  }
  .cards__grid {
    display: flex;
    flex-direction: column;
  }
  .why {
    height: 600px;
  }
  .why__grid {
    margin-top: 20px;
  }
  .footer__logo {
    left: 0;
    margin-left: 0;
  }
}

@media (max-width: 350px) {
  .card {
    width: 220px;
  }
  .why {
    height: 850px;
  }
  .why__grid {
    display: inline-block;
  }
}
